<div class="flex-container center secondary-lighter-bg spacing-around-vertical">
    <div class="container spacing-around-vertical">
        <h2>Manage sitemap</h2>
        <p>Read from existing sitemap.xml, append new urls to it and write back updated sitemap.xml</p>
    </div>
</div>
<div class="flex-container center">
    <div class="container relative">
        <anu-sitemap [sitemap]="sitemap" [sitemapInfo]="sitemapInfo" [newUrls]="newUrls" [newSitemap]="newSitemap"
            (loadSitemapClicked)="loadSitemap()" (previewClicked)="previewSitemap()"
            (checkNewUrlsClicked)="checkNewUrls()" (saveClicked)="saveSitemap($event)"></anu-sitemap>

        <anu-spinner [fullscreen]="false" [mode]="spinnerMode" [show]="loading" [size]="'md'" [speed]="'normal'"
            [static]="false" [theme]="'primary'">
        </anu-spinner>

        <anu-error *ngIf="errorMessage" [code]="errorCode" [message]="errorMessage">
        </anu-error>
    </div>
</div>

<anu-modal [cancelLabel]="'Cancel'" [enableCancel]="false" [enableClose]="true" [enableOk]="true" [okLabel]="'Ok'"
    [opened]="saveSuccess" [title]="'Saving sitemap.xml - Success'" (cancelClick)="saveSuccessClosed()">

    <p class="success">Sitemap.xml saved successfully.</p>

</anu-modal>
