:host {
  width: 100%;

  anu-card-title {
    margin: calc(-1 / 2 * var(--anu-spacing));
    margin-bottom: var(--anu-spacing);
    transform: scale(1.03);
    -o-transform: scale(1.03);
    -moz-transform: scale(1.03);
  }
}
