:host {
  width: 100%;

  anu-card,
  anu-card-title,
  anu-card-body,
  anu-card-footer {
    word-wrap: break-word;
  }

  anu-card:hover {
    background-color: var(--anu-primary-deep-light);
    transform: scale(1.05);
  }

  .asset-type-info_thumbnail {
    transition: all 0.3s;
  }
}
