<div *ngIf="!libsInfoArr?.length" class="flex-container">
  <anu-error
    [code]="'404'"
    [message]="'No angular libraries found.'"
  ></anu-error>
</div>

<div class="flex-container primary-light-grad spacing-half">
  <h1>{{ companyName }}</h1>
</div>
<div class="flex-container primary-deep-light-grad spacing-half">
  <p *ngIf="pageMeta">{{ pageMeta?.description }}</p>
</div>

<ng-container *ngFor="let libInfo of libsInfoArr">
  <div class="flex-container primary-light-grad spacing-around-v spacing">
    <h2>
      <a [routerLink]="['libs', libInfo?.name]">{{ libInfo?.name }}</a>
    </h2>
  </div>
  <div class="flex-container">
    <div class="row">
      <div class="border border-round col-sm-12">
        <anu-card class="" [isRowLayout]="false" [imageCssClasses]="['col-12']">
          <anu-card-image class="image-container">
            <a [routerLink]="['libs', libInfo?.name]">
              <img
                class="border-round container"
                [src]="'assets/' + libInfo?.name + '.jpeg'"
                [alt]="libInfo?.name"
              />
            </a>
          </anu-card-image>
          <anu-card-body class="spacing">
            <span
              ><a [routerLink]="['libs', libInfo?.name]">{{
                libInfo?.fullName
              }}</a></span
            >
            <span>Version: {{ libInfo?.version }}</span>
            <p [innerHTML]="libInfo?.description"></p>
          </anu-card-body>
          <anu-card-footer class="center spacing">
            <div class="row right spacing-around-v">
              <a [routerLink]="['libs']">More Angular Libraries ►</a>.
            </div>
            <div class="row right">
              <span
                >Full
                <a [routerLink]="['libs', libInfo?.name]"
                  >{{ libInfo?.name }} Documentation ►</a
                >.</span
              >
            </div>
          </anu-card-footer>
        </anu-card>
      </div>
    </div>
  </div>
</ng-container>

<div class="flex-container spacing-around-v primary-light-grad">
  <anu-slideshow class="container">
    <anu-card
      class="slidehow_item border border-round spacing-around"
      [isRowLayout]="true"
      [imageCssClasses]="['col-sm-4', 'col-md-4', 'col-lg-4']"
      [contentCssClasses]="['col-sm-8', 'col-md-8', 'col-lg-8']"
      *ngFor="let libInfo of libsInfoArr"
    >
      <anu-card-image>
        <a [routerLink]="['libs', libInfo?.name]">
          <img
            class="border-round"
            [src]="'assets/' + libInfo?.name + '.jpeg'"
            [alt]="libInfo?.name"
          />
        </a>
      </anu-card-image>
      <anu-card-title class="">
        <h3>
          <a [routerLink]="['libs', libInfo?.name]">{{ libInfo?.fullName }}</a>
        </h3>
      </anu-card-title>
      <anu-card-body>
        <span>Version: {{ libInfo?.version }}</span>
      </anu-card-body>
      <anu-card-footer class="">
        <div class="row right">
          <a [routerLink]="['libs', libInfo?.name]"
            >{{ libInfo?.name }} Full documentation</a
          >.
        </div>
      </anu-card-footer>
    </anu-card>
  </anu-slideshow>
</div>
